<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola LUIS</h1>
    <form action="/objetos" method="post">
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="correo" placeholder="correo">
        <input type="text" name="edad" placeholder="edad">
        <input type="text" name="signo" placeholder="signo">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>